<div class="list row">
    <div class="col-md-18">
        <h2><img src="assets/image/talan.png"></h2>


        <div class="input-group ">
            <input type="text" class="form-control" placeholder="Chercher par mot clé" [(ngModel)]="term" />


            <hr>
            <div class="col ml-auto text-rignt">
                <button type="button" class="btn btn-primary" (click)="removemodal()" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <mat-icon>add_circle</mat-icon> 
          Ajouter une question </button>
            </div>


        </div>
    </div>
</div>
<div class="container py=10">
    <div class="row">

        <div class="col-md-10">

        </div>

    </div>
    <hr>

    <div class="col-md-18">

        <ul id="invitedList">

            <li class="list-group-item" *ngFor="let question of questions |filter :term ; let i = index" [class.active]="i == currentIndex">
                <fa-icon [icon]="faUserCircle " style="font-size:48px;"></fa-icon><br> {{question.description }}


                <br>

                <hr>
                <button data-bs-toggle="modal" data-bs-target="#exampleModal1" (click)="selectQuestion(question.id)"><fa-icon [icon]="faEdit"   ></fa-icon></button>
                <button (click)="deleteQuestion(question.id)"><fa-icon [icon]="faTrashAlt" ></fa-icon></button>


            </li>

        </ul>
        <mat-paginator [pageSizeOptions]="[5,10]" showFirstLastButtons></mat-paginator>
    </div>
    <div class="row">
        <div class="col-md-12">


            <div class="card-body">




                <span class="badge badge-success"></span>
                <hr>
            </div>
        </div>
    </div>
</div>

<div class="modal show" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    <B>Posez votre question</B>
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <mat-card>

                <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="90px" fxLayoutGap.lt-md="50px">
                    <mat-form-field fxFlex>


                        <mat-label for="description">Question</mat-label>
                        <input matInput type="text" placeholder="Question" id="description" required [(ngModel)]="question.description">
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="fill">
                        <mat-label>Select category</mat-label>
                        <mat-form-field appearance="fill">
                            <mat-label>Categories</mat-label>
                            <mat-select [(value)]="selectedValue" id="category" [(ngModel)]="question.category">
                                <mat-option *ngFor="let category of categorys" value="{{category.title}}">{{category.title}}
                                </mat-option>

                            </mat-select>
                        </mat-form-field>
                    </mat-form-field>

                </div>
                <mat-card-actions>
                    <button mat-button color="warn" (click)="onClick()">  
              <mat-icon>file_upload</mat-icon>  
              Télécharger
          </button>
                </mat-card-actions>
                <input type="file" #fileUpload id="fileUpload" name="fileUpload" multiple="multiple" accept="image/*" style="display:none;" />
                <span>{{fileName}}</span>

            </mat-card>







            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                <button (click)="saveQuestion()" class="btn btn-success" data-bs-dismiss="modal" [disabled]="question.description=== '' || question.category=== ''">ajouter</button>
            </div>


        </div>
    </div>
</div>


<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <div class="modal-header">

                <h5 class="modal-title" id="exampleModalLabel"> Modifiez votre question</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>

            <mat-card>
                <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="90px" fxLayoutGap.lt-md="10px">
                    <mat-form-field fxFlex>

                        <mat-label for="description">Question</mat-label>
                        <input matInput type="text" placeholder="Question" id="description" required [(ngModel)]="currentQuestion.description">

                    </mat-form-field>
                    <br>
                    <mat-form-field fxFlex>
                        <mat-label for="category">Categorie</mat-label>
                        <input matInput type="text" placeholder="Categorie" id="category" required [(ngModel)]="currentQuestion.category">

                    </mat-form-field>
                </div>
            </mat-card>
            <mat-card-actions>
                <button mat-button color="warn" (click)="onClick()">  
            <mat-icon>file_upload</mat-icon>  
            Télécharger
        </button>
            </mat-card-actions>
            <input type="file" #fileUpload id="fileUpload" name="fileUpload" multiple="multiple" accept="image/*" style="display:none;" />
            <span>{{fileName}}</span>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                <button (click)="updateQuestion1()" class="btn btn-success" data-bs-dismiss="modal">Modifier</button>
            </div>

        </div>
    </div>

</div>